<div class="navbar-container">

  <div class="navbar-header">
    <div class="left-section">

    </div>
    <div class="right-section">
      <a *ngFor="let socialButton of socialButtons" href="{{socialButton.url}}" target="_blank">
        <button mat-button class="social-profile-link">
          <mat-icon svgIcon="{{socialButton.identifier}}"></mat-icon>
          <span class="mat-button-header-text">
          {{socialButton.name}}
        </span>
        </button>
      </a>
    </div>
  </div>

  <div class="navbar-middle-section">



    <div class="navbar-third-panel">
      Hello, my name is Tijam Moradi
    </div>


    <div class="navbar-image-container">
    </div>


    <div class="navbar-third-panel">
      Welcome to my portfolio
    </div>


  </div>
</div>
