<div class="navbar-container">

  <div class="navbar-header">
    <div class="left-section">

    </div>
    <div class="right-section">
      <a href="{{button.url}}" target="_blank" *ngFor="let button of socialButtons">
        <button mat-button class="social-profile-link">
          <fa-icon [icon]="['fab', button.identifier]" [size]="'2x'"></fa-icon>
        </button>
      </a>
    </div>
  </div>

  <div class="navbar-middle-section">



    <div class="navbar-third-panel">
      Hello, my name is Tijam Moradi
    </div>


    <div class="navbar-image-container">
    </div>


    <div class="navbar-third-panel">
      Welcome to my portfolio
    </div>


  </div>
</div>
