<div class="navbar-container">

  <div class="navbar-header">
    <div class="left-section">

    </div>
    <div class="right-section">
      <a href="https://github.com/tikimo" target="_blank">
        <button mat-button class="social-profile-link">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>

        </button>
      </a>
      <a href="https://linkedin.com/in/tikimo" target="_blank">
        <button mat-button class="social-profile-link">
        </button>
      </a>
    </div>
  </div>

  <div class="navbar-middle-section">



    <div class="navbar-third-panel">
      Hello, my name is Tijam Moradi
    </div>


    <div class="navbar-image-container">
    </div>


    <div class="navbar-third-panel">
      Welcome to my portfolio
    </div>


  </div>
</div>
